<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>agroRental</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- theme meta -->
    <meta name="theme-name" content="newsbit" />

    <!--Favicon-->
    <link rel="shortcut icon" href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="icon" href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="@{/images/apple-touch-icon.png}">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <!-- FontAwesome -->
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" th:href="@{/plugins/slick-carousel/slick.css}">
    <link rel="stylesheet" th:href="@{/plugins/slick-carousel/slick-theme.css}">
    <!-- main stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="trending-bar-dark hidden-xs">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12 top-nav-social-lists text-lg-right col-lg-4 ml-lg-auto">
                    <ul class="list-unstyled mt-4 mt-lg-0">
                        <li>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-facebook-f"></i>
                                </span>
                            </a>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-twitter"></i>
                                </span>
                            </a>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-google-plus"></i>
                                </span>
                            </a>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-youtube"></i>
                                </span>
                            </a>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-linkedin"></i>
                                </span>
                            </a>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-pinterest-p"></i>
                                </span>
                            </a>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-rss"></i>
                                </span>
                            </a>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-github"></i>
                                </span>
                            </a>
                            <a href="#">
                                <span class="social-icon">
                                    <i class="fa fa-reddit-alien"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div class="main-navbar clearfix bg-dark ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg site-main-nav navigation">
                        <a class="navbar-brand d-lg-none" href="index.html">
                            <img th:src="@{/images/logos/logoA.png}" alt="">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Home
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="index.html">Home 1</a>
                                        <a class="dropdown-item" href="index-2.html">Home 2</a>
                                    </div>
                                </li>

                                <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Post
                                </a>
                                <div class="dropdown-menu" >
                                <a class="dropdown-item" href="post-left-sidebar.html">Post Left Sidebar</a>
                                  <a class="dropdown-item" href="post-full-width.html">Post Full Width</a>
                                  <a class="dropdown-item" href="single-post.html">Single Post</a>
                                  <a class="dropdown-item" href="post-category-1.html">Category 1</a>
                                  <a class="dropdown-item" href="post-category-2.html">Category 2</a>
                                  <a class="dropdown-item" href="author.html">Author</a>
                                </div>
                            </li> -->
                                <!--
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  LOGIN
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="@{/account}">Login</a>
                                  <a class="dropdown-item" href="@{/signup}">Registro</a>
                                </div>
                            </li>-->
                                <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        LOGIN
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:href="@{/account}">Login</a>
                                        <a class="dropdown-item" th:href="@{/signup}">Registro</a>
                                    </div>
                                </li>

                                <!-- Logout visible solo para usuarios autenticados -->
                                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Hola, <span sec:authentication="name"></span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <form th:action="@{/logout}" method="post" class="d-inline">
                                            <button type="submit" class="dropdown-item">Cerrar sesión</button>
                                        </form>
                                    </div>
                                </li>



                                <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  About
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="about.html">About</a>
                                  <a class="dropdown-item" href="terms.html">Terms</a>
                                  <a class="dropdown-item" href="privacy.html">Privacy Policy</a>
                                  <a class="dropdown-item" href="job.html">Career</a>
                                </div>
                            </li>
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Pages
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="404.html">404 Page</a>
                                  <a class="dropdown-item" href="search.html">Search Page</a>
                                </div>
                            </li> -->

                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contacto</a>
                                </li>

                            </ul>
                            <div class="nav-search ml-auto d-none d-lg-block">
                                <span id="search">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
        <form class="site-search" method="get">
            <input type="text" id="searchInput" name="site_search" placeholder="Enter Keyword Here..." autofocus="">
            <div class="search-close">
                <span class="close-search">
                    <i class="fa fa-times"></i>
                </span>
            </div>
        </form>
    </div>

    <div class="py-30"></div>

    <section class="block-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="news-style-one">
                        <h3 class="news-title">
                            <span>25 años poniendo al campo en movimiento</span>
                        </h3>
                        <div class="news-style-one-slide">
                            <div class="item">
                                <div class="post-block-wrapper clearfix mb-5">
                                    <div class="post-thumbnail">
                                        <a href="single-post.htm">
                                            <img class="img-fluid" th:src="@{/images/news/maquina1.jpg}"
                                                alt="post-image" />
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h2 class="post-title mt-3">
                                            <a href="single-post.html">Leasing Operativo de Maquinaria Agrícola LOP</a>
                                        </h2>
                                        <div class="post-meta mb-2">
                                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours
                                                ago</span>
                                            <span class="post-author">
                                                by
                                                <a href="author.html">Tarnak Sunder</a>
                                            </span>
                                        </div>
                                        <p>Solución de arriendo a largo plazo pensada para productores que buscan
                                            eficiencia operativa, flexibilidad financiera y tranquilidad en cada etapa
                                            del proceso agrícola...</p>
                                    </div>
                                </div>


                                <div class="post-block-wrapper clearfix mb-5 ">
                                    <div class="post-thumbnail">
                                        <a href="single-post.htm">
                                            <img class="img-fluid" th:src="@{/images/news/maquina2.png}"
                                                alt="post-thumbnail" />
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h2 class="post-title">
                                            <a href="single-post.html">Arriendo SPOT </a>
                                        </h2>
                                        <div class="post-meta mb-2">
                                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours
                                                ago</span>
                                            <span class="post-author">
                                                by
                                                <a href="author.html">Tarnak Sunder</a>
                                            </span>
                                        </div>
                                        <p>La modalidad SPOT te permite acceder a maquinaria agrícola desde un mes de
                                            arriendo, ideal para temporadas de cosecha o periodos de alta actividad..
                                        </p>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                    <div class="py-40"></div>
                    <div class="news-style-two">
                        <h3 class="news-title">
                            <span>Tecnologia en la Agricultura</span>
                        </h3>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="post-block-wrapper clearfix">
                                    <div class="post-thumbnail">
                                        <a href="single-post.html">
                                            <img class="img-fluid" th:src="@{/images/news/tecn9.jpg}"
                                                alt="post-thumbnail" />
                                        </a>
                                    </div>
                                    <a class="post-category" href="categoty-style1.html">Tech</a>
                                    <div class="post-content">
                                        <h2 class="post-title mt-3">
                                            <a href="single-post.html">La tecnología en la agricultura: ¿Cómo me
                                                beneficia?</a>
                                        </h2>


                                        <div class="post-meta mb-2">
                                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>5 hours
                                                ago</span>
                                            <span class="post-author">
                                                by
                                                <a href="author.html">Tarnak Sunder</a>
                                            </span>
                                        </div>
                                        <p> La tecnología va de la mano de la agricultura, pues desde siempre el
                                            agricultor ha procurado facilitarse la ardua labor que implica el campo.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="post-list-block m-top-0">
                                    <div class="post-block-wrapper post-float clearfix">
                                        <div class="post-thumbnail">
                                            <a href="single-post.html">
                                                <img class="img-fluid" th:src="@{/images/news/tecn10.jpg}"
                                                    alt="post-thumbnail" />
                                            </a>
                                        </div>

                                        <div class="post-content">
                                            <h2 class="post-title title-sm">
                                                <a href="single-post.html">Un 34% de los agricultores nacionales no
                                                    invierte en equipamiento tecnológico</a>
                                            </h2>
                                            <div class="post-meta">
                                                <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>7 hours
                                                    ago</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-block-wrapper post-float clearfix">
                                        <div class="post-thumbnail">
                                            <a href="single-post.html">
                                                <img class="img-fluid" th:src="@{/images/news/tecn11.jpg}"
                                                    alt="post-thumbnail" />
                                            </a>
                                        </div>

                                        <div class="post-content">
                                            <h2 class="post-title title-sm">
                                                <a href="single-post.html">Pulverizadora agrícola: conoce los modelos
                                                    que te ofrece Jacto</a>
                                            </h2>
                                            <div class="post-meta">
                                                <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>10 hours
                                                    ago</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-block-wrapper post-float clearfix">
                                        <div class="post-thumbnail">
                                            <a href="single-post.html">
                                                <img class="img-fluid" th:src="@{/images/news/tecn12.jpg}"
                                                    alt="post-thumbnail" />
                                            </a>
                                        </div>

                                        <div class="post-content">
                                            <h2 class="post-title title-sm">
                                                <a href="single-post.html">Control integrado de malezas: estrategias
                                                    esenciales en el pre y post-siembra.</a>
                                            </h2>
                                            <div class="post-meta">
                                                <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>11 hours
                                                    ago</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="post-block-wrapper post-float clearfix">
                    <div class="post-thumbnail">
                        <a href="single-post.html">
                            <img class="img-fluid" th:src="@{/images/news/news-02.jpg}" alt="post-thumbnail"/>
                        </a>
                    </div>

                    <div class="post-content">
                        <h2 class="post-title title-sm">
                            <a href="single-post.html">Flu season rages on,2009 swine flu</a>
                        </h2>
                        <div class="post-meta">
                            <span class="posted-time"><i class="fa fa-clock-o mr-2"></i>12 hours ago</span>
                        </div>
                    </div>
                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <h3 class="news-title">
                                <span>SIEMPRE EN CONTACTO</span>
                            </h3>

                            <ul class="list-inline social-widget">
                                <li class="list-inline-item">
                                    <a class="social-page youtube" href="#">
                                        <i class="fa fa-play"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-page facebook" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-page twitter" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-page pinterest" href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="social-page linkedin" href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item">
                                    <a class="social-page youtube" href="#">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>
                        <div class="widget">
                            <h3 class="news-title">
                                <span>LO NUEVO</span>
                            </h3>

                            <div class="post-overlay-wrapper">
                                <div class="post-thumbnail">
                                    <img class="img-fluid" th:src="@{/images/news/maquina3.png}" alt="post-thumbnail" />
                                </div>
                                <div class="post-content">
                                    <a class="post-category white" href="post-category-1.html">Tendencia</a>
                                    <h2 class="post-title">
                                        <a href="single-post.html">Equipos usados con historia conocida...</a>
                                    </h2>
                                    <div class="post-meta white">
                                        <span class="posted-time"><i class="fa fa-clock-o mr-1"></i>24 oct,2025</span>
                                        <span> by </span>
                                        <span class="post-author">
                                            <a href="author.html">Jammy Anderson</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-list-block">
                                <div class="post-block-wrapper post-float ">
                                    <div class="post-thumbnail">
                                        <a href="single-post.html">
                                            <img class="img-fluid" th:src="@{/images/news/maquina4.png}"
                                                alt="post-thumbnail" />
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h2 class="post-title title-sm">
                                            <a href="single-post.html">Equipos nuevos</a>
                                        </h2>
                                        <div class="post-meta">
                                            <span class="posted-time"><i class="fa fa-clock-o mr-1"></i>2 hours
                                                ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-block-wrapper post-float">
                                    <div class="post-thumbnail">
                                        <a href="single-post.html">
                                            <img class="img-fluid" th:src="@{/images/news/maquina5.jpg}"
                                                alt="post-thumbnail" />
                                        </a>
                                    </div>
                                    <div class="post-content">
                                        <h2 class="post-title title-sm">
                                            <a href="single-post.html">Poda mecanizada de frutales</a>
                                        </h2>
                                        <div class="post-meta">
                                            <span class="posted-time"><i class="fa fa-clock-o mr-1"></i> 20 Oct ,
                                                2025</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-block-wrapper post-float">
                                    <div class="post-thumbnail">
                                        <a href="single-post.html">
                                            <img class="img-fluid" th:src="@{/images/news/maquina6.jpg}"
                                                alt="post-thumbnail" />
                                        </a>
                                    </div>

                                    <div class="post-content">
                                        <h2 class="post-title title-sm">
                                            <a href="single-post.html">Dron Fumigador DJI AGRAS T30</a>
                                        </h2>
                                        <div class="post-meta">
                                            <span class="posted-time"><i class="fa fa-clock-o mr-1"></i> 5 hours
                                                ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-block-wrapper post-float">
                                    <div class="post-thumbnail">
                                        <a href="single-post.html">
                                            <img class="img-fluid" th:src="@{/images/news/maquina7.png}"
                                                alt="post-thumbnail" />
                                        </a>
                                    </div>

                                    <div class="post-content">
                                        <h2 class="post-title title-sm">
                                            <a href="single-post.html">Servicios de Packing de cereza</a>
                                        </h2>
                                        <div class="post-meta">
                                            <span class="posted-time"><i class="fa fa-clock-o mr-1"></i> 26 Oct,
                                                2025</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget mb-0">
                            <h3 class="news-title">
                                <span>Exportación</span>
                            </h3>
                            <div class="post-slide">
                                <div class="item">
                                    <div class="post-overlay-wrapper clearfix">
                                        <div class="post-thumbnail">
                                            <a href="single-post.html">
                                                <img class="img-fluid" th:src="@{/images/news/maquina8.png}"
                                                    alt="post-thumbnail" />
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <a class="post-category white" href="post-category-2.html">Quelen Export</a>
                                            <h2 class="post-title">
                                                <a href="single-post.html">Procesos de recolección, selección y
                                                    embalaje...</a>
                                            </h2>
                                            <div class="post-meta white">
                                                <span class="posted-time">4 hours ago</span>
                                                <span> by </span>
                                                <span class="post-author">
                                                    <a href="author.html">Jammy Anderson</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-overlay-wrapper clearfix mt-3">
                                        <div class="post-thumbnail">
                                            <a href="single-post.html">
                                                <img class="img-fluid" th:src="@{/images/news/nueces1.jpg}"
                                                    alt="post-thumbnail" />
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <a class="post-category white" href="post-category-2.html">Nueces</a>
                                            <h2 class="post-title">
                                                <a href="single-post.html">Abastecemos más de 10 especies a ...</a>
                                            </h2>
                                            <div class="post-meta white">
                                                <span class="posted-time">5 hours ago</span>
                                                <span> by </span>
                                                <span class="post-author">
                                                    <a href="author.html">Roberto Carlous</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item ">
                                    <!-- <div class="post-overlay-wrapper clearfix">
                <div class="post-thumbnail">
                    <a href="single-post.html">
                        <img class="img-fluid" th:src="@{/images/news/palta1.jpg}" alt="post-thumbnail"/>
                    </a>
                </div>

                <div class="post-content">
                    <a class="post-category white" href="post-category-2.html">Palta Chilena</a>
                    <h2 class="post-title">
                        <a href="single-post.html">Promovemos el consumo de este noble fruto...</a>
                    </h2>
                    <div class="post-meta white">
                        <span class="posted-time">10 hours ago</span>
                        <span> by </span>
                        <span class="post-author">
                            <a href="author.html">Jamalick Jack</a>
                        </span>
                    </div>
                </div>
            </div> -->
                                    <div class="post-overlay-wrapper mt-3 clearfix">
                                        <div class="post-thumbnail">
                                            <a href="single-post.html">
                                                <img class="img-fluid" th:src="@{/images/news/uva1.jpg}"
                                                    alt="post-thumbnail" />
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <a class="post-category white" href="post-category-2.html">Uva</a>
                                            <h2 class="post-title">
                                                <a href="single-post.html">Exportaciones de variedades nuevas de uvas de
                                                    mesa crecerán...</a>
                                            </h2>
                                            <div class="post-meta white">
                                                <span class="posted-time">5 hours ago</span>
                                                <span> by </span>
                                                <span class="post-author">
                                                    <a href="author.html">Jerin Khan</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="py-40"></div>

    <footer class="footer footer-main ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-12 col-lg-6 text-center">
                    <a href="index.html"><img th:src="@{/images/logos/logoA.png}" alt="" class="img-fluid"></a>
                    <p class="mt-4">25 años poniendo al campo en movimiento.</p>

                    <ul class="list-inline footer-social">
                        <li class="li list-inline-item"><a href="https://www.facebook.com/themefisher"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li class="li list-inline-item"><a href="https://twitter.com/themefisher"><i
                                    class="fa fa-twitter"></i></a></li>
                        <li class="li list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="li list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li class="li list-inline-item"><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li class="li list-inline-item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                    </ul>

                    <div class="copyright-text text-center">
                        <p class="mb-0">© All Copyright Reserved</p>
                    </div>
                </div>

                <div class="scroll-to-top">
                    <button class="btn btn-primary" title="Back to Top">
                        <i class="fa fa-angle-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </footer>


    <!-- THEME JAVASCRIPT FILES
================================================== -->
    <!-- initialize jQuery Library -->
    <script th:src="@{/plugins/jquery/jquery.js}"></script>
    <!-- Bootstrap jQuery -->
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Slick Slider -->
    <script th:src="@{/plugins/slick-carousel/slick.min.js}"></script>
    <!-- Google Map -->
    <script th:src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script th:src="@{/plugins/google-map/gmap.js}"></script>
    <!-- main js -->
    <script th:src="@{/js/custom.js}"></script>

</body>

</html>